In [5]:
import pandas as pd

def info_df(df, head=5):
    print(df.shape)
    display(df.head(head))

In [6]:
df = pd.read_csv('orders_sg.txt', delimiter=',')
info_df(df)

(4023005, 9)

,Unnamed: 0,customer_id,geohash,order_id,vendor_id,product_id,day_of_week,order_time,order_day
0,0,1ba124d4e5,w21z7,0,212753d2,783e85338f1c,0,12:03:29,85 days
1,1,1ba124d4e5,w21z7,0,212753d2,084ab73246e6,0,12:03:29,85 days
2,2,1ba124d4e5,w21z7,0,212753d2,30eba3cc2676,0,12:03:29,85 days
3,3,1ba124d4e5,w21z7,0,212753d2,3910309eea60,0,12:03:29,85 days
4,4,1ba124d4e5,w21z7,0,212753d2,20049fb602cb,0,12:03:29,85 days

In [7]:
df = pd.read_csv('products_sg.txt', delimiter=',')
info_df(df)

(1066840, 5)

,Unnamed: 0,vendor_id,product_id,name,unit_price
0,0,15bbf316,59099e089514,Meat & Seafood Combo 海鲜套餐,0.0036
1,1,e7b24dc0,52e1017fdbd9,Sausage Egg McMuffin® Meal,0.0024
2,2,e7b24dc0,fcb7110cd932,Scrambled Egg Burger w Chicken Meal,0.0024
3,3,7112a20b,d3e7708c2bc9,Maguro Sushi,0.0012
4,4,6137ef21,bf0d5ac0e03c,Family Meal - Prosp Chic TwLEVMx2 + ChBurgerHM,0.0100

In [8]:
df = pd.read_csv('vendors_sg.txt', delimiter=',')
info_df(df)

(7411, 5)

   Unnamed: 0 vendor_id  chain_id geohash primary_cuisine
0           0  b160c319  d2786168   w21z6         mexican
1           1  9c8f010e  d2786168   w21ze         mexican
2           4  03eb25e1  5055ab25   w21ze     bak kut teh
3           5  3613129a  8984acb6   w23b1         italian
4           7  0946c9e5  1e3a2913   w21z4     bak kut teh